<html>
<head>
  <title>Resonance Api V1.0.68 documentation</title>
</head>
<body>
  <h1>Resonance API V1.0.69 Operations</h1>
  <h2>Beta V-1.0.1</h2>
  <h3> <a href="/api/v1/user">User</a></h3>
  <h3> <a href="/api/v1/userprofile">User Profile</a></h3>
  <h3> <a href="/api/v1/skill">Skill</a></h3>
  <h3> <a href="/api/v1/profession">profession</a></h3>
  <h3> <a href="/api/v1/card">cards</a></h3>
  <h3> <a href="/api/v1/institution">Institution</a></h3>
  <h3> <a href="/api/v1/training">Training</a></h3>
  <h3> <a href="/api/v1/individual">Individual</a></h3>
  <h3> <a href="/api/v1/accolades/award">Award</a></h3>
  <h3> <a href="/api/v1/accolades/scholarship">Scholarship</a></h3>
  <h3> <a href="/api/v1/accolades/competition">Competition</a></h3>
  <h3> <a href="/api/v1/educations">Education</a></h3>
  <h3> <a href="/api/v1/jobtitles">Jobtitle</a></h3>
  <h3> <a href="/api/v1/masterclasses">Masterclass</a></h3>
  <h3> <a href="/api/v1/commisionedworks">Commisionedworks</a></h3>
  <h3> <a href="/api/v1/media/gallery">Gallery</a></h3>
  <h3> <a href="/api/v1/media/audios">Audio</a></h3>
  <h3> <a href="/api/v1/media/videos">Videos</a></h3>
  <h3> <a href="/api/v1/resumewarnings">Resume Warnings</a></h3>
  <h3> <a href="/api/v1/links">Links</a></h3>
  <h3> <a href="/api/v1/quotes">Quotes</a></h3>
  <h3> <a href="/api/v1/upcomings">Upcoming</a></h3>
  <h3> <a href="/api/v1/events">Event</a></h3>
  <h3> <a href="/api/v1/cards">Search</a></h3>
  <h3> <a href="/api/v1/reports">Reports</a></h3>
  <h3> <a href="/api/v1/contracts">Contracts</a></h3>
  <h3> <a href="/api/v1/expo">Push Notifications</a></h3>
  <h3> <a href="/api/v1/slots">Slot</a></h3>
  <h3> <a href="/api/v1/payment">Stripe Payment</a></h3>

</body>
</html>
